.text.basic.segment {
  margin-top: 3em!important;
}

.readonly.dimmer {
  background-color: rgba(0, 0, 0, 0.1)!important;
}

.ui.fixed.inverted.menu .active.item {
    background: #B5CC18 !important;
    color: #000!important;
}